# backend
__pycache__/
*.__pycache__
.env
*.ipynb_checkpoints

.log
.exe
.DS_Store
.vscode/
.cache/

saved_transcripts/

test.py

main.py

run.bat
backend.bat
vectorstore/
# frontend

node_modules/
dist/
build/
.cache/
frontend.bat