__pycache__/
*.__pycache__
*.py[cod]
*.pyo
*.pyd
.Python
env.bak/
venv.bak/
.env/
.env
*.env
*.env.example
*.env.local
*.ipynb_checkpoints

.log
.exe
.DS_Store
.vscode/
.cache/

saved_transcripts/

test.py